/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"hero"
		"icecream"
		"ourstory"
		"spotlight"
		"contact"
		"shop"
		"hourslocations"
		"footer";

	.nav {
		grid-area: header;
		display: grid;
		grid-template-columns: repeat(2, 1fr); 

		ul li {
			display: inline;
		}
	}


	.hero {
		grid-area: hero;

		h1 {
			position: absolute;
			top: 70%;
		}
	}

	.icecream {
		grid-area: icecream;

		.smallhide {
			display: none;

			@include md {
				display: grid;
			}
		}

		.smallmain {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 20px 20px 20px;

			.flavors {
				grid-column: 2 / 2;

				.one {
					grid-row: 1 / 1;
				}

				.two {
					grid-row: 2 / 2;
				}

				.three {
					grid-row: 3 / 3;
				}
			}

			.arrowleft {
				grid-column: 1 / 1;
				grid-row: 2 / 2;
			}

			.arrowright {
				grid-column: 3 / 3;
				grid-row: 2 / 2;
			}
		}
	}

	.ourstory {
		grid-area: ourstory;

		.story2 {
			display: none;
		}

		@include lg {
			.story2 {
				display: grid;
			}
		}
	}

	.spotlight {
		grid-area: spotlight;

		.gallery1 {
			@include sm{
				display: none;
			}
	
			@include lg {
				display: grid;
			}
		}
	}

	.shop {
		grid-area: shop;

		.shophide {
			display: none;

			@include md {
				display: grid;
			}
		}
	}
}