/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"nav"
		"hero"
		"icecream"
		"ourstory"
		"spotlight"
		"contact"
		"shop"
		"hourslocations"
		"footer";

	.nav {
		grid-area: nav;
		display: grid;
		grid-template-columns: repeat(2, 1fr); 

		ul li {
			display: inline;
		}
	}

	.hero {
		h1 {
			display: grid;
		}
	}
}