/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"hero"
		"icecream"
		"ourstory"
		"spotlight"
		"contact"
		"shop"
		"hourslocations"
		"footer";

	.nav {
		grid-area: header;
		display: grid;
		grid-template-columns: repeat(2, 1fr); 

		ul li {
			display: inline;
			align-items: center;
		}
	}


	.hero {
		grid-area: hero;
		display: grid;

		.heroimg {
			display: flex;
			align-items:flex-end;
			justify-content: center;
		}
	}

	.icecream {
		grid-area: icecream;

		h1 {
			text-align: center;
		}

		h2 {
			text-align: center;
		}

		.regularimg {
			display: grid;
			grid-template-columns: 100px 100px 100px;
			grid-template-rows: 200px 200px;
			margin-left: 70px;
			margin-right: 70px;
		}

		.exoticimg {
			display: grid;
			grid-template-columns: 100px 100px 100px;
			grid-template-rows: 200px 200px;
			margin-left: 70px;
			margin-right: 70px;
		}

		.specialimg {
			display: grid;
			grid-template-columns: 100px 100px 100px;
			grid-template-rows: 200px 200px;
			margin-left: 70px;
			margin-right: 70px;
		}

		.cakeimg {
			display: grid;
			grid-template-columns: 100px 100px 100px;
			grid-template-rows: 200px 200px;
			margin-left: 70px;
			margin-right: 70px;
		}

		.cakeinfo {
			text-align: center;
		}

		.smallhide {
			display: none;

			@include md {
				display: grid;
			}
		}

		.smallmain {
			display: grid;
			grid-template-columns: 10px 200px 10px;
			grid-template-rows: 20px 20px 20px;
			text-align: center;
			justify-content: center;

			.flavors {
				grid-column: 2 / 2;

				.one {
					grid-row: 1 / 1;
				}

				.two {
					grid-row: 2 / 2;
				}

				.three {
					grid-row: 3 / 3;
				}
			}

			.arrowleft {
				grid-column: 1 / 1;
				grid-row: 2 / 2;
			}

			.arrowright {
				grid-column: 3 / 3;
				grid-row: 2 / 2;
			}
		}
	}

	.ourstory {
		grid-area: ourstory;

		h1 {
			text-align: center;
		}

		.story1 {
			display: grid;
			grid-template-rows: 500px;
		}

		.story3 {
			display: grid;
			grid-template-rows: 400px;
		}

		.storyinfo {
			text-align: center;
		}

		.story2 {
			display: none;
		}
	}

	.spotlight {
		grid-area: spotlight;

		h1 {
			text-align: center;
		}

		.gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 500px 300px;

			.video {
				grid-column: span 2;
			}

			.gallery2 {
				grid-column: span 1;
			}
		}

		.gallery1 {
			display: none;
	
			@include lg {
				display: grid;
			}
		}

		.press {
			display: grid;
			grid-template-columns: 300px 200px;
			grid-template-rows: 500px;

			.pressinfo {
				display: grid;
				align-content: center;
			}
		}

		.thanks {
			display: grid;
			grid-template-columns: 300px 200px;
			grid-template-rows: 500px;

			.thanksinfo {
				display: grid;
				align-content: center;
			}
		}


		.community {
			display: grid;
			grid-template-columns: 300px 200px;
			grid-template-rows: 500px;

			.communityinfo {
				display: grid;
				align-content: center;
			}
		}
	}

	.contact {
		text-align: center;
	}

	.shop {
		grid-area: shop;

		.title {
			display: grid;
			grid-template-columns: 80px 10px;
			align-items: center;
			justify-content: center;
		}

		h3 {
			text-align: center;
		}

		.masks {
			display: grid;
			grid-template-columns: 100px 100px;
			grid-template-rows: 100px 250px;
			margin-left: 70px;
			margin-right: 70px;
		}

		.mobileshop {
			display: grid;
			grid-template-columns: 5px 480px 5px;
			justify-content: center;

			.mobileshoparrowleft {
				display: grid;
				align-content: center;
			}

			.mobileshoparrowright {
				display: grid;
				align-content: center;
			}
		}

		.mobileshoptext {
			text-align: center;
		}

		.shophide {
			display: none;

			@include md {
				display: grid;
			}
		}
	}

	.hourslocations {
		grid-area: hourslocations;
		text-align: center;
	}

	.footer {
		.socials{
			display: flex;
			grid-gap: 45px;
			justify-content: center;
		}

		.email {
			text-align: center;
		}

		.misclinks {
			text-align: center;
		}
	}
}