/* =============
    Typography
============= */
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.section-title {
	font-weight: 300;
}

.nav {
	button {
		font-family: century-gothic, sans-serif;
	}

	ul {
		font-family: century-gothic, sans-serif;
	}
}

.hero {
	h1 {
		font-family: century-gothic, sans-serif;
	}
}

.icecream {
	h1 {
		font-family: ltc-bodoni-175, serif;
	}

	h2 {
		font-family: century-gothic, sans-serif;
	}

	ul {
		font-family: century-gothic, sans-serif;
	}

	.cakeinfo {
		font-family: century-gothic, sans-serif;
	}

	.customcakes {
		font-family: century-gothic, sans-serif;
	}
}

.ourstory {
	h1 {
		font-family: ltc-bodoni-175, serif;
	}

	.storyinfo {
		font-family: century-gothic, sans-serif;
	}
}

.spotlight {
	h1 {
		font-family: ltc-bodoni-175, serif;
	}

	.viewgallery {
		font-family: century-gothic, sans-serif;
	}

	.ptcspotlight {
		font-family: century-gothic, sans-serif;
	}
}

.contact {
	h1 {
		font-family: ltc-bodoni-175, serif;
	}

	h2 {
		font-family: century-gothic, sans-serif;
	}

	// .questions {
	// 	h3 {
	// 		font-family: century-gothic, sans-serif;
	// 	}
	// }

	// .name {
	// 	font-family: century-gothic, sans-serif;
	// }

	// .email {
	// 	font-family: century-gothic, sans-serif;
	// }

	button {
		font-family: century-gothic, sans-serif;
	}

	.work {
		font-family: century-gothic, sans-serif;
	}
}

.shop {
	h1 {
		font-family: ltc-bodoni-175, serif;
	}

	h3 {
		font-family: century-gothic, sans-serif;
	}

	.links {
		font-family: century-gothic, sans-serif;
	}

	.mobileshoptext {
		font-family: century-gothic, sans-serif;
	}

	.shoptext {
		font-family: century-gothic, sans-serif;
	}
}

.hourslocations {
	h1 {
		font-family: ltc-bodoni-175, serif;
	}

	.chinatown {
		font-family: century-gothic, sans-serif;
	}

	.flushing {
		font-family: century-gothic, sans-serif;
	}

	.les {
		font-family: century-gothic, sans-serif;
	}
}

.footer {
	h4 {
		font-family: century-gothic, sans-serif;
	}

	.email {
		font-family: century-gothic, sans-serif;
	}

	.misclinks {
		font-family: century-gothic, sans-serif;
	}
}