.contact {
    h1 {
        font-size: 40px;
        font-weight: 400;

        @include md {
            font-size: 60px;
        }

        @include lg {
            font-size: 80px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 400;

        @include md {
            font-size: 35px;
        }

        @include lg {
            font-size: 50px;
        }
    }

    .name {
        font-size: 15px;

        @include md {
            font-size: 20px;
        }

        @include lg {
            font-size: 25px;
        }

        input {
            border: $forbiddenfruit solid 4px;
        }
    }

    .email {
        font-size: 15px;

        @include md {
            font-size: 20px;
        }

        @include lg {
            font-size: 25px;
        }

        input {
            border: $forbiddenfruit solid 4px;
        }
    }

    .questions {
        h3 {
            font-size: 25px;
            font-weight: 400;

            @include md {
                font-size: 28px;
            }
        }

        input {
            border: $forbiddenfruit solid 4px;
        }
    }

    button {
        background-color: $forbiddenfruit;
        border: none;
        color: white;
        font-size: 15px;

        @include md {
            font-size: 20px;
        }

        @include lg {
            font-size: 25px;
        }
    }

    .work {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }
    }
}