/* =============
    Footer
============= */

.footer {
    background-color: $forbiddenfruit;

    a {
        color: white;
        text-decoration: none;
    }

    h4 {
        font-size: 10px;
        font-weight: 400;
        color: white;

        @include md {
            font-size: 15px;
        }

        @include lg {
            font-size: 20px;
        }
    }

    .email {
        form {
            font-size: 10px;

            @include md {
                font-size: 15px;
            }

            @include lg {
                font-size: 20px;
            }

            input {
                background-color: $forbiddenfruit;
                border: white solid 4px;
                color: white;
            }

            button {
                background-color: white;
                border: none;
                color: $forbiddenfruit;
            }

            ::placeholder {
                color: white;
            }
        }
    }

    .misclinks {
        font-size: 10px;
        color: white;

        @include md {
            font-size: 15px;
        }

        @include lg {
            font-size: 20px;
        }
    }
}