.nav {
    background-color: $butteryellow;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    
    .firstbutton {
        button {
            background-color: $lightgreen;
            border: none;

            @include md {
                font-size: 20px;
            }
        }
    }

    .lang {
        button {
            background-color: $butteryellow;
            border: $lightgreen 4px solid;

            @include md {
                font-size: 20px;
            }
        }
    }

    .mobile-logo {
        display: grid;
        padding-top: 32px;
        padding-bottom: 32px;
        grid-column: span 2;
        justify-content: center;

        @include md {
            display: none;
        }
    }

    .navlinks {
        grid-column: span 2;

        #burger-container {
            grid-area: burger;
            display: grid;
            justify-content: center;
            padding-bottom: 32px;

            @include md {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-container {
            grid-area: nav;
            background-color: $butteryellow;
            position: absolute;
            top: 300px;
            grid-column: span 2;
            width: 100%;
            display: none;

            @include md {
                display: block !important;
                position: unset;
                padding-top: 48px;
                padding-bottom: 48px;
                padding-left: unset;
                padding-right: unset;
                background-color: $butteryellow;
            }

            .tablet-logo {
                display: none;

                @include md {
                    display: block;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                gap: 5px;

                @include md {
                    flex-direction: row;
                    justify-content: center;
                    justify-content: space-evenly;
                    align-items: baseline;
                }
            }

            li { 
                a {
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
        
                    @include lg {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}