.nav {
    background-color: $butteryellow;
    
    .firstbutton {
        button {
            background-color: $lightgreen;
            border: none;

            @include md {
                font-size: 20px;
            }
        }
    }

    .lang {
        button {
            background-color: $butteryellow;
            border: $lightgreen 4px solid;

            @include md {
                font-size: 20px;
            }
        }
    }

    .mobile-logo {
        display: grid;

        @include md {
            display: none;
        }
    }

    .navlinks {
        display: grid;
        grid-template-columns: 100px;
        // grid-template-areas: 
        // "logo burger";

        #burger-container {
            grid-area: burger;
            display: grid;
            align-items: center;
            // padding: 10px;

            @include md {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-container {
            grid-area: nav;
            padding: 15px;
            background-color: $butteryellow;
            position: absolute;
            top: 240px;

            @include md {
                display: block !important;
                background-color: $butteryellow;
            }

            .tablet-logo {
                display: none;

                @include md {
                    display: block;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            li { 
                a {
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
        
                    @include lg {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}