.hourslocations {
    h1 {
        font-size: 40px;
        font-weight: 400;

        @include md {
            font-size: 60px;
        }

        @include lg {
            font-size: 80px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 400;

        @include md {
            font-size: 35px;
        }

        @include lg {
            font-size: 50px;
        }
    }

    .chinatown {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }
    }

    .flushing {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        h4 {
            font-size: 15px;
            font-weight: 400;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }

    .les {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        h4 {
            font-size: 15px;
            font-weight: 400;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }

    a {
        text-decoration: none;
        color: black;

        a:hover {
            color: red;
        }
    }
}