.icecream {
    background-color: $butteryellow;

    h1 {
        font-size: 40px;
        font-weight: 400;

        @include md {
            font-size: 60px;
        }

        @include lg {
            font-size: 80px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 400;

        @include md {
            font-size: 35px;
        }

        @include lg {
            font-size: 50px;
        }
    }

    .arrow {
        a {
            color: black;
            width: 2px;
        }
    }

    li {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }
    }

    .regularimg {
        background: url("../images/Regular.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 290px;
            height: 450px;
        }

        @include lg {
            width: 460px;
            height: 435px;
        }
    }

    .exoticimg {
        background: url("../images/Exotic.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 450px;
        }

        @include lg {
            height: 435px;
        }

        @include xl {
            width: 460px;
        }
    }

    .specialimg {
        background: url("../images/Special.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 290px;
            height: 450px;
        }

        @include lg {
            width: 460px;
            height: 435px;
        }
    }

    .cakeimg {
        background: url("../images/Cakes.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 450px;
        }

        @include lg {
            height: 435px;
        }

        @include xl {
            width: 460px;
        }
    }

    .sigcakes {
        font-size: 20px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }
    }

    .neapolitan {
        font-size: 20px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }
    }

    .cakesubhead {
        font-style: italic;
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }
    }

    .customcakes {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        button {
            font-size: 15px;
            background-color: $lightgreen;
            border: none;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }
}