.ourstory {
    h1 {
        font-size: 40px;
        font-weight: 400;

        @include md {
            font-size: 60px;
        }

        @include lg {
            font-size: 80px;
        }
    }

    .story1 {
        background: url("../images/OurStory1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 320px;
            height: 335px;
        }

        @include lg {
            width: 380px;
            // height: 395px;
        }
    }

    .story2 {
        background: url("../images/OurStory2.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            width: 380px;
            height: 370px;
        }
    }

    .story3 {
        background: url("../images/OurStory3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 335px;
        }

        @include lg {
            width: 380px;
            height: 310px;
        }
    }

    .storyinfo {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        button {
            font-size: 15px;
            color: white;
            background-color: $forbiddenfruit;
            border: none;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }
}