.ourstory {
    .story1 {
        background: url("../images/OurStory1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        // @include sm {
        //     width: 100%;
        //     height: 335px;
        // }

        @include lg {
            width: 380px;
            height: 395px;
        }
    }

    .story2 {
        background: url("../images/OurStory2.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            width: 380px;
            height: 370px;
        }
    }

    .story3 {
        background: url("../images/OurStory3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include sm {
            width: 320px;
            height: 260px;
        }

        @include md {
            width: 410px;
            height: 335px;
        }

        @include lg {
            width: 380px;
            height: 310px;
        }
    }
}