.shop {
    background-color: $butteryellow;

    .title {
        h1 {
            font-size: 40px;
            font-weight: 400;
        }

        .shoparrow {
            a {
                color: black;
            }
        }
    }

    .links {
        a {
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            color: black;
        }
    }

    h3 {
        font-size: 25px;
        font-weight: 400;
    }

    .mobileshop {
        .mobileshoparrowleft {
            color: black;
        }

        .mobileshoparrowright {
            color: black;
        }
    }

    .mobileshoptext {
        font-size: 25px;
    }

    .masks {
        background: url("../images/Masks.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 250px;
            height: 250px;
        }

    }

    .tshirt {
        background: url("../images/TShirt.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 250px;
            height: 250px;
        }
    }

    .bag {
        background: url("../images/Bag.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 250px;
            height: 250px;
        }
    }

    .pin {
        background: url("../images/Pin.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }       
        
        @include lg {
            width: 250px;
            height: 250px;
        }


    }

    .plush {
        background: url("../images/Plush.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 250px;
            height: 250px;
        }
    }

    .card {
        background: url("../images/Gift Card.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 250px;
            height: 250px;
        }
    }
}