.shop {
    .masks {
        background: url("../images/Masks.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }

    .tshirt {
        background: url("../images/TShirt.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }

    .bag {
        background: url("../images/Bag.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }

    .pin {
        background: url("../images/Pin.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }

    .plush {
        background: url("../images/Plush.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }

    .card {
        background: url("../images/Gift Card.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 350px;
    }
}