.shop {
    .masks {
        background: url("../images/Masks.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include sm {
            width: 180px;
            height: 180px;
        }

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 300px;
            height: 300px;
        }

    }

    .tshirt {
        background: url("../images/TShirt.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 300px;
            height: 300px;
        }
    }

    .bag {
        background: url("../images/Bag.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 300px;
            height: 300px;
        }
    }

    .pin {
        background: url("../images/Pin.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }        @include lg {
            width: 300px;
            height: 300px;
        }


    }

    .plush {
        background: url("../images/Plush.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 300px;
            height: 300px;
        }
    }

    .card {
        background: url("../images/Gift Card.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            width: 350px;
            height: 350px;
        }

        @include lg {
            width: 300px;
            height: 300px;
        }
    }
}