.spotlight {
    .video {
        background: url("../images/Video.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

        @include xl {
            width: 100%;
            height: 1700px;
        }

    .gallery1 {
        background: url("../images/Gallery1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            // width: 400px;
            height: 320px;
        }

        @include xl {
            // width: 700px;
            height: 500px;
        }
    }

    .gallery2 {
        background: url("../images/Gallery2.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 400px;
        }

        @include lg {
            // width: 320px;
            height: 320px;
        }

        @include xl {
            // width: 450px;
            height: 500px;
        }
    }

    .gallery3 {
        background: url("../images/Gallery3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 400px;
        }

        @include lg {
            // width: 325px;
            height: 320px;
        }

        @include xl {
            // width: 550px;
            height: 500px;
        }
    }

    .pressimg {
        background: url("../images/Press.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 370px;
        }

        @include lg {
            height: 490px;
        }

        @include xl {
            // width: 430px;
            height: 700px;
        }
    }

    .thanksimg {
        background: url("../images/Thanks.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 370px;
        }        

        @include lg {
            height: 490px;
        }

        @include xl {
            // width: 430px;
            height: 700px;
        }
    }

    .communityimg {
        background: url("../images/Community.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 370px;
        }

        @include lg {
            height: 490px;
        }

        @include xl {
            // width: 430px;
            height: 700px;
        }
    }
}