.spotlight {
    background-color: $butteryellow;

    h1 {
        font-size: 40px;
        font-weight: 400;

        @include md {
            font-size: 60px;
        }

        @include lg {
            font-size: 80px;
        }
    }

    .video {
        background: url("../images/Video.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

        @include xl {
            width: 100%;
        }

    .gallery1 {
        background: url("../images/Gallery1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include lg {
            height: 320px;
        }

        @include xl {
            height: 500px;
        }
    }

    .gallery2 {
        background: url("../images/Gallery2.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 400px;
        }

        @include lg {
            height: 320px;
        }

        @include xl {
            height: 500px;
        }
    }

    .gallery3 {
        background: url("../images/Gallery3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 400px;
        }

        @include lg {
            height: 320px;
        }

        @include xl {
            height: 500px;
        }
    }

    .viewgallery {
        font-size: 15px;
        background-color: $lightgreen;
        border: none;

        @include md {
            font-size: 20px;
        }

        @include lg {
            font-size: 25px;
        }
    }

    .pressinfo {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        button {
            font-size: 15px;
            background-color: $lightgreen;
            border: none;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }

    .pressimg {
        background: url("../images/Press.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 370px;
        }

        @include lg {
            height: 490px;
        }

        @include xl {
            height: 700px;
        }
    }

    .thanksinfo {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        button {
            font-size: 15px;
            background-color: $lightgreen;
            border: none;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }

    .thanksimg {
        background: url("../images/Thanks.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 370px;
        }        

        @include lg {
            height: 490px;
        }

        @include xl {
            height: 700px;
        }
    }

    .communityinfo {
        font-size: 25px;

        @include md {
            font-size: 28px;
        }

        @include lg {
            font-size: 30px;
        }

        button {
            font-size: 15px;
            background-color: $lightgreen;
            border: none;

            @include md {
                font-size: 20px;
            }

            @include lg {
                font-size: 25px;
            }
        }
    }

    .communityimg {
        background: url("../images/Community.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
            height: 370px;
        }

        @include lg {
            height: 490px;
        }

        @include xl {
            height: 700px;
        }
    }
}